*{padding: 0; margin: 0; font-family: var(--roboto);}
:root{
    /*Colori*/ 
    --primary:#62929E;
    --secondary:#546A7B;
    --tertiary: #C6C5B9;
    --bianco: #ffffff;
    --nero: #393D3F;

    /*Font*/
    --roboto: 'Roboto', sans-serif;

    /*Grandezza Font*/
    --mega: 50px;
    --big: 50px;
    --medium: 30px;
    --small: 18px;
    --mini: 15px;
}
/*--------------------------------------PAGINA PRINCIPALE-----------------------------------------------------*/
.header {
    text-align: center;
    background-color: var(--primary);
    height: 70px;
    padding-top: 10px;
}
.header>a {
    font-size: var(--mega);
    color: var(--bianco);
    font-family: var(--roboto);
    text-decoration: none;
}
#menu{
    position: absolute;
    top: 20px;
    left: 61%;
    display: flex;
    margin-top: 1.2%;
}
#menu2{
    position: absolute;
    top: 20px;
    right: 58%;
    display: flex;
    margin-top: 1.2%;
    
}
.link-menu:nth-child(1) {
    margin-right: 50px;
}
.link-menu {
    color: white;
    font-size: var(--small);
    text-decoration: none;
}
a:hover {
    color: var(--tertiary);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.548);
}
#small-container {
    background-color: var(--secondary);
    height: 950px;
    padding-top: 10px;
}
.text-container {
    width: 65%;
    height: 270px;
    background-color: var(--tertiary);
    padding: 15px 15px 15px 15px;
    margin: 0 10px 10px 10px;
    box-shadow: 0 1px 2px 0 rgb(60, 64, 67, 0.378), 0 2px 6px 2px rgba(60, 64, 67, 0.378);
    border-radius: 5px;
}
.text-container2 {
    width: 65%;
    height: 270px;
    background-color: var(--tertiary);
    padding: 15px 15px 15px 15px;
    box-shadow: 0 1px 2px 0 rgb(60, 64, 67, 0.378), 0 2px 6px 2px rgba(60, 64, 67, 0.378);
    border-radius: 5px;
    position: absolute;
    top: 710px;
    left: 10px;
}
.title {
    font-size: var(--medium);
    margin-bottom: 20px;
}
.text {
    font-size: var(--small);
    text-align: justify
}
#img-container {
    width: 30%;
    float: right;
    /*background-color: #393D3F;*/
}
#img-container2 {
    width: 30%;
    float: left;
    text-align: right;
    /*background-color: #393D3F;*/
}
#img-container3 {
    clear: both;
    float: right;
    width: 30%;
    margin-left: 400px;
    /*background-color: #393D3F;*/
}
#img-container > img {
    height: 300px;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgb(60, 64, 67, 0.378), 0 2px 6px 2px rgba(60, 64, 67, 0.378);
}
#img-container2 > img {
    height: 300px;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgb(60, 64, 67, 0.378), 0 2px 6px 2px rgba(60, 64, 67, 0.378);
    float: left;
}
#img-container3 > img {
    
    height: 300px;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgb(60, 64, 67, 0.378), 0 2px 6px 2px rgba(60, 64, 67, 0.378);
    float: right;
}
footer {
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: var(--mini);
    background-color: var(--primary);
}
/*--------------------------------------PAGINA PRINCIPALE-----------------------------------------------------*/
/*--------------------------------------PAGINA CUCINA-----------------------------------------------------*/
